{% set pages_total = pages|length %}
{% set action = '{0}_show'.format(type) %}

{#
{% if type == 'blog' %}
  <h2>{{ _('1 blog article') if pages_total == 1 else _('{0} blog articles').format(pages_total) }}</h2>
{% else %}
  <h2>{{ _('1 page') if pages_total == 1 else _('{0} pages').format(pages_total) }}</h2>
{% endif %}
#}

{% if type == 'blog' %}
  <p style = "font-size: 30px;" class="number-of-blogs">{{ _('1 blog') if pages_total == 1 else _('{0} blogs').format(pages_total) }}</p>
{% else %}
    <p style = "font-size: 30px;"> Pages </p>
{% endif %}

{% if pages %}
    <div class="row">
    <div class="row">
        <h2 id="notfound" style="text-align: center;display:none"> No Blog Found </h2>
        {% for page in pages %}
        {% if id %} {# this is for orgs and groups #}
            {% set url = h.url_for(controller='ckanext.pages.controller:PagesController', action=action, id=id, page='/' + page.name) %}
        {% elif type == 'blog' %}
            {% set url = h.url_for('/blog/' + page.name) %}
        {% else %}
            {% set url = h.url_for('/pages/' + page.name) %}
        {% endif %}
        <div class="col-sm-6 col-md-4">
            <a class="homepage-full-blog" href="{{ url }}">
            <div class="feed-card thumbnail blog-card" id = "blogs-card-background">
                {% if page.image %}
                    <img class = "feed-image" src="{{ page.image }}" alt="Feed Image">
                {% else %}
                    <img class = "feed-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRdmmJPKK_ynmtZgkngAz35PeqZueJv1RNIEzUZV6TNZV8ijqLe" alt="No Image Found">
                {% endif %}
                <div class="caption">
                    {% if page.title %}
                        <h4 class="homepage-heading blog-heading">
                            {{ h.markdown_extract(page.title, extract_length=30) }}
                        </h4>
                        {#{% else %}
                        <h4 class="homepage-heading blog-heading">
                            {{ h.markdown_extract(page.title) }}
                        </h4> #}
                    {% endif %}
                    <hr class="divider" />
                    <div class="homepage-heading blog-content">
                        {% if page.content %}
                        <p> {{ h.markdown_extract(page.content, extract_length=400) }} </p>
                            {# {% if page.title | length >= 31 %}
                                <p> {{ h.markdown_extract(page.content, extract_length=200) }} </p>
                            {% else %}
                                <p> {{ h.markdown_extract(page.content, extract_length=400) }} </p>
                            {% endif %} #}
                        {% else %}
                        <p class="empty">{{ _('This page currently has no content') }}</p>
                        {% endif %}
                    </div>
                </div>
                <a class="homepage-read-more" href="{{ url }}"> Read More </a>
            </div>
            </a>
        </div>
        {% endfor %}
    </div>
    </div>

{% else %}
    {% if type == 'blog' %}
      <p class="empty">{{ _('There are currently no blog articles here') }}</p>
    {% else %}
      <p class="empty">{{ _('There are currently no pages here') }}</p>
    {% endif %}
{% endif %}